@import url(https://allfont.net/allfont.css?fonts=star-jedi);

#done{
    background-image: url('../assets/Orientation_Background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#canvas{
    display: none;    
    width: 100%;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 5%;
}

.container .canvas-frame h2{
    
    font-size: 1.5rem;
    font-family: Equinox;
    color: aliceblue;
    margin: auto;
    margin-top: 1%;
    text-shadow: 1px 1px 8px white;
    text-align: center;
}

#head{
    display: none;
}


#download{
    display: none;
    text-align: center;
    display: none;
    cursor: pointer;
    width: 40%;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 4%;
    background-image: url('../assets/event_CardBackground.jpeg');
    color: black;
    text-shadow: 1px 1px 8px white;
    padding: 1%;
    font-family: Equinox;
    font-weight: 700;
}

#done button:hover{
    box-shadow:none;
}

#tckt{
    display: flex;
}

#done div p{
    width: 50%;
    font-family: Star Jedi;
    font-size: 2.5rem;
    color: aliceblue;
    margin: auto;
    margin-top: 2%;
    /* text-shadow: 1px 1px 8px white; */
    text-align: center;

}

#done div div{
    margin-top: 10%;
}

#done div div img{
    width: 50%;
    margin-left: 20%;
    
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url('../assets/Orientation_Background.jpg');
    background-size: contain;
    background-position-x: 50% ;
   
}

.container{
    width: 70%;
    margin: auto;
}

.container .logo{
    display: flex;
    flex-direction: column;
}

.container .logo h2{
    
    font-size: 2.5rem;
    font-family: Equinox;
    color: aliceblue;
    margin: auto;
    margin-top: 1%;
    text-shadow: 1px 1px 8px white;
    text-align: center;
}

.container .logo p{
    color: white;
    text-align: center;
    font-family: Equinox;

}


.container .form-container{
   background-image: url(../assets/event_CardBackground.jpeg);
   padding: 2%;
    width: 50%;
    /* margin: auto; */
    margin-top: 1%;
    border-radius: 5px;
}

.container .form-container div{
    margin: 3% 2%;
   display: flex;
   flex-direction: column;
   color: black;
   font-family: Equinox ;
}

.container .form-container div label{
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 1%;
}

.container .form-container div input, select{
    font-size: 1rem;
    background-color: black;
    padding: 1.5%;
    border-radius: 3px;
    font-family: 'Montserrat' ;
    border: none;
    color: white;
}

input:focus, textarea:focus, select:focus{
   outline: none;
    color: white;
    font-family: 'Montserrat' ;
    background-color: #181717;
}

.container .form-container div button{
    cursor: pointer;
    width: 40%;
    font-family: Equinox;
    font-weight: 400;
    margin: auto;
    margin-top: 2%;
    font-size: 1rem;
    padding: 1.5%;
    border-radius: 2px;
    border: none;
    box-shadow: #181717 1px 1px 19px 0px;
    background-color: black;
    color: white
    
}

.container .form-container div button a{
    color: white;
    text-decoration: none;
    width: 100%;
}

.container .form-container div button:hover{
    box-shadow: none;
    background-size: contain;

}

.credits{
    font-size: 0.7rem;
    color: white;
    text-align: end;
    margin-right: 1%;
    font-family: Equinox ;
    text-align: right;
}

.center{
    margin: auto;
}

.container .canvas-frame canvas{
    margin-bottom: 2%;
}

.canvas-frame{
    display: flex;
    flex-direction: column;
}


@media only screen and (max-width: 1340px){

    .container .form-container div button{
        font-family: Equinox;
    }

    body{
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-image: url('../assets/Orientation_Background.jpg');
        background-size: contain;
        background-position-x: 50% ;  
        background-position-y: 100%; 
       

    } 

    .container .form-container div label{
        
        font-family: Equinox ;
    }
    
    .container .form-container div input, select{
        
        font-family: Equinox ;
    }

    .container .logo h2{
    
        margin-top: 5%;
        font-family: Equinox ;
    }

    .container .form-container{
       
        padding: 4%;
         width: 50%;
         /* margin: auto; */
         margin-top: 10%;
         border-radius: 5px;
     }

     .credits{
        margin-top: 5%;
        font-family: Equinox ;
    }
}


@media only screen and (max-width: 1024px) {
    body{
        background-image: url('../assets/Orientation_Background_NoAstro.jpg');
        background-size: contain;
       background-repeat:round;
       
    } 
    .container{
        margin-top: 10%;
        width: 90%;
    }
    .container .logo h2{
        
        font-size: 1.5rem;
        font-family: Equinox ;
    }
    .container .logo p{

        font-size: 0.8rem;
    
    }

    .container .form-container div label{
        font-size: 0.7rem;
        font-family: Equinox ;
    }
    
    .container .form-container div input, select{
        font-size: 0.7rem;
        padding: 3%;
        font-family: Equinox ;
    }

    

    .container .form-container{
        
        width: 70%;
         margin: auto;
         margin-top: 5%;
     }

     .container .form-container div button{
        
        font-size: 0.7rem;
        padding: 3%;
        font-family: Equinox;
        
    }

     .credits{
         margin-top: 5%;
        text-align: center;
        font-size: 0.5rem;
        font-family: Equinox ;
        
    }

}